body {
  background-color: darkgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header,
.footer {
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  border: 2px solid burlywood;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

button {
  width: 80%;
  max-width: 280px;
  height: 40px;
  font-size: 16px; /* Use a fixed font size */
  font-weight: bold;
  border: 2px solid burlywood;
  border-radius: 10px;
  background-color: antiquewhite;
  position: relative;
  display: block;
  margin: 0 auto;
}

.footer button:hover {
  background-color: teal;
}

.panel {
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  border: 5px solid burlywood;
  border-radius: 10px;
}

.header-text {
  font-size: 24px; /* Reduced font size */
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 10px;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  background-color: bisque;
  border-radius: 10%;
  border: 6px solid burlywood;
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle {
  width: 15vw;
  height: 15vw;
  max-width: 60px;
  max-height: 60px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid black;
}

.player_0 {
  background-color: white;
}
.player_1 {
  background-color: red;
}
.player_2 {
  background-color: blue;
}

/* Media Queries for smaller screens */
@media (max-width: 600px) {
  .header,
  .footer {
    width: 90%;
    margin: 5px auto;
    padding: 5px;
  }

  button {
    font-size: 14px; /* Smaller font size for buttons on small screens */
    height: 45px;
  }

  .header-text {
    font-size: 20px; /* Smaller font size for header text on small screens */
  }

  .gameCircle {
    width: 18vw;
    height: 18vw;
    margin: 5px;
  }
}
